/* ### GENERAL ### */

* {
  margin: 0;
  padding: 0;
}

html {
  font-family: 'Open Sans', sans-serif;
  background-image: url(img/bg.png);
}

h1, h2, h3, h4, h5,h6 {
  font-family: 'Signika', sans-serif;
}

a {
  text-decoration: none;
  color:inherit;
}

/* ### HEADER ### */

#banner {
  width: 100%;
}

#banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#navbar {
  width: 100%;
  height: 100px;
  background:white;
}

#navbar ul li {
  display: inline-block;
  line-height: 100px;
  width:calc(100%/5);
}

#navbar ul li a {

}

/* ### SLIDER ### */

#slider {
    width: 100%;
    height: 200px;
    overflow: hidden;
}

#slider>div {
    width: auto;
    height: 200px;
    position: relative;
}

#slider>div>div {
    width: 100%;
    height: 200px;
    position: absolute;
}

#slider>div>div:nth-child(1){
    left: 0%;
}
#slider>div>div:nth-child(2){
    left: 100%;
}
#slider>div>div:nth-child(3){
    left: 200%;
}
#slider>div>div:nth-child(4){
    left: 300%;
}

#slider>div>div h1 {
    text-align: center;
    line-height: 0;
    font-size: 10em;
    color: white;
}



























